.toggle {
  &-xs {
    --handleoffset: 0.3rem;
    @apply h-3 w-5;
  }
  &-sm {
    --handleoffset: 0.75rem;
    @apply h-4 w-7;
  }
  &-md {
    --handleoffset: 1.25rem;
    @apply h-5 w-10;
  }
  &-lg {
    --handleoffset: 1.7rem;
    @apply h-7 w-14;
  }
}
